---
import Layout from '../layouts/Layout.astro';
import TodoApp from '../components/TodoApp.jsx';
---

<!-- Just a simple project added to logan-murray.dev  -->

<Layout title="A Very Simple ToDo App" description="A very simple todo app made with Astro and React">
	<main>
		<section class="todo__container--outter">
			<TodoApp client:load />
		</section>
		<section>
			<p>Check out more at <a href="http://logan-murray.dev">logan-murray.dev</a></p>
		</section>
	</main>
</Layout>

<style>
	p {
		text-align: center;
		margin-top: 2em;
	}

	a {
		color: var(--color-primary);
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}
</style>